@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@if(!string.IsNullOrEmpty(ViewBag.Mensaje)) {
    <div class="alert alert-success">@ViewBag.Mensaje</div>
}
<h2>Elegir Tipo de Pago a Crear</h2>
<form asp-action="Create" method="get">
    <button type="submit" name="tipoPago" value="unico" class="btn btn-primary">Pago Unico</button>
    <button type="submit" name ="tipoPago" value="recurrente" class="btn btn-primary">Pago Recurrente</button>
</form>
